{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static "css/blog.css" %}"/>
<div class="regbox2">
	<div class="reg_title">
		<b>博客</b>
		<a class="submit_btn" href="/blogs/addblog">
			编写博客
		</a>
	</div>
	<br>
	<div style="height:400px;overflow:auto;">
	{% for blog in all_blogs %}
		<div class="blogstyle">
			<span class="blogstyle_title"><a href="http://8.130.110.219:8000/blogs/blogs/{{blog.idcode}}"><font color="#000099"><b>{{blog.title}}</b></font></a></span>
			<span class="blogstyle_time">{{blog.date_posted}}</span>
			<span class="blogstyle_author">{{blog.writer}}</span>
			<span class="blogstyle_excerpt">{{blog.excerpt}}</span>
		</div>
	{% empty %}
		<p>暂时还没有博客~</p>
	{% endfor %}
</div>

{% endblock %}