{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block body_block %}

<div class="regbox3">
	<div class="blog_title">
		<h2>{{post.title}}</h2>		
		&#128512;{{post.writer}}
		<br>
		&#9202;{{post.date_posted}}
		<br>
	</div>
	<div style="height:400px;overflow:auto;">
	<div class="blog_state">
		{% block content %}
		<div class="markdown-body">
			{{ post.content|safe }}
		</div>
		{% endblock content %}
	</div>
	<div style="height:400px;overflow:auto;">
	<div class="blog_nav">
		<p style = "font-size:20px;margin-left:10px"><a>&#128077;{{likenum}}</p>
		<p>添加评论</p>
		<form action="/blogs/blogs/{{pid}}" method="POST">
			{% csrf_token %}
			<input id="content" maxlength="5000" name="content" type="text" />
			<div class="reg_btn">
				<input type="submit" class="reg_btn1" name="submit" value="提交" />
				<input type="reset" class="reg_btn1" name="reset" value="重置" />
			</div>
		</form>
		{% for m in comments %}
			<div class="blog_comment">
				{{m.author.user.username}}
				<br>
				{{m.content}}
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}