{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block body_block %}

<div class="regbox3">
	<div class="blog_title">
		<h2>{{post.title}}</h2>		
		&#128512;{{post.writer}}
		<br>
		&#9202;{{post.date_posted}}
		<br>
	</div>
	<div style="height:400px;overflow:auto;">
	<div class="blog_state">
		{% block extrascripts %}
		  <script>
			MathJax = {
			  tex: {
			    inlineMath: [['$', '$'], ['\\(', '\\)']]
			  },
			  svg: {
			    fontCache: 'global'
			  }
			};
		  </script>
		  <script type="text/javascript" id="MathJax-script" async
		    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
		  </script>
		{% endblock extrascripts %}
		{% block content %}
		<div class="markdown-body">
			{{ post.content|markdown|safe }}
		</div>
		{% endblock content %}
	</div>
	<div style="height:400px;overflow:auto;">
	<div class="blog_nav">
		<p style = "font-size:20px;margin-left:10px"><a>&#128077;{{likenum}}</p>
		{% for m in comments %}
			<div class="blog_comment">
				{{m.author.user.username}}
				<br>
				{{m.content}}
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}