{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block body_block %}

<div class="regboxss">
	{% block extrascripts %}
	  <script>
		MathJax = {
		  tex: {
		    inlineMath: [['$', '$'], ['\\(', '\\)']]
		  },
		  svg: {
		    fontCache: 'global'
		  }
		};
	  </script>
	  <script type="text/javascript" id="MathJax-script" async
	    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
	  </script>
	{% endblock extrascripts %}
	{{ announcement|markdown}}
</div>

{% endblock %}