{% extends 'base.html' %}

{% block body_block %}

<div class="regbox2">
	<div class="reg_title">
		<a href="http://8.130.110.219:8000/games/games/{{game.code}}/ingame/"><b>比赛题目</b></a>
		<a href="http://8.130.110.219:8000/games/games/{{game.code}}/rk/">比赛排名</a>
		<a href="http://8.130.110.219:8000/games/games/{{game.code}}/statement/">比赛状态</a>
	</div>
	<br>
	<div class="timestart">开始时间：{{timestart.year}}-{{timestart.month}}-{{timestart.day}}&nbsp;&nbsp;{{timestart.hour}}:{{timestart.minute}}:{{timestart.second}}</div>
	<div class="timeend">结束时间：{{timeend.year}}-{{timeend.month}}-{{timeend.day}}&nbsp;&nbsp;{{timeend.hour}}:{{timeend.minute}}:{{timeend.second}}</div>
	<br>
	<hr>
	<div style="height:400px;overflow:auto;">
	<table class="pro_all_table">
		<thead>
			<tr>
				<td style="width: 10%;">#</td>
				<td style="width: 75%;">问题</td>
				<td style="width: 15%;">通过人数</td>
			</tr>
		</thead>
		<tbody>
		{% for p in problems %}
			<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{{p.problem.link}}?gid={{game.code}}"><font color="#000099">{{p.problem.name}}</font></a></td>
			{% for key,value in prodata.items %}
				{% if key == p.problem.code %}	  
					<td>{{value.acnum}}</td>
				{% endif %} 
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>

{% endblock %}