{% extends 'base.html' %}

{% block body_block %}

<div class="regbox2">
	<div class="reg_title">
		<a href="http://8.130.110.219:8000/games/games/{{gid}}/ingame/">比赛题目</a>
		<a href="http://8.130.110.219:8000/games/games/{{gid}}/rk/"><b>比赛排名</b></a>
		<a href="http://8.130.110.219:8000/games/games/{{gid}}/statement/">比赛状态</a>
	</div>
	<br>
	<hr>
	<div style="height:400px;overflow:auto;">
	<table class="pro_all_table">
		<thead>
			<tr>
				<td style="width:40px;height:20px;">用户</td>
				<td style="width:20px;height:20px;">通过数</td>
				<td style="width:20px;height:20px;">时间</td>
				{% for p in problems %}
					<td style="width:20px;height:20px;">{{ forloop.counter }}</td>
					<td style="width:20px;height:20px;">{{ forloop.counter }}</td>
					<td style="width:20px;height:20px;">{{ forloop.counter }}</td>
					<td style="width:20px;height:20px;">{{ forloop.counter }}</td>
					<td style="width:20px;height:20px;">{{ forloop.counter }}</td>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for g in gamerk %}
			<tr>
				<td>{{g.player.user.username}}</td>
				<td>{{g.totalac}}</td>
				<td>
					<div id="times">
						{% if g.alltime < 0 %}
							0
						{% else %}
							{{g.alltime}}
						{% endif %}
					</div>
				</td>
				{% for p in problems %}
					{% for key,value in newdata.items %}
						{% for subkey,subvalue in value.items %}
							{% if key == g.player.user.username and subkey == p.problem.code  %}
								{% if subvalue.boolac == 0 %}
									<td class="tdwa">-/{{ subvalue.failtime }}</td>
								{% elif subvalue.boolac == -1 %}
									<td class="tderr">·</td>
								{% else %}
									<td class="tdac">+/{{ subvalue.failtime }}</td>
								{% endif %}
							{% endif %}
						{% endfor %}	   
					{% endfor %}
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>

{% endblock %}