{% extends 'base.html' %}

{% block body_block %}

<div class="regbox2">
	<div class="reg_title">
		<a href="http://8.130.110.219:8000/games/games/{{game.code}}/ingame/"><b>比赛题目</b></a>
		<a href="http://8.130.110.219:8000/games/games/{{game.code}}/rk/">比赛排名</a>
		<a href="http://8.130.110.219:8000/games/games/{{game.code}}/statement/">比赛状态</a>
	</div>
	<br>
	<hr>
	<div style="height:400px;overflow:auto;">
	<table class="pro_all_table">
		<thead>
			<tr>
				<td style="width: 10%;">#</td>
				<td style="width: 75%;">问题</td>
				<td style="width: 15%;">通过人数</td>
			</tr>
		</thead>
		<tbody>
		{% for p in problems %}
			<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{{p.problem.link}}?gid={{game.code}}"><font color="#000099">{{p.problem.name}}</font></a></td>
			<td>{{p.passnum}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>

{% endblock %}