{% extends 'base.html' %}

{% block body_block %}

<div class="regbox">
	<div class="reg_title"><b>注册信息</b></div>
	<br>
	{% if registered %}
		<p><b>恭喜你，注册成功！<b></p>
	{% else %}
	<form id="coder_form" method="post" action="/settings/register/" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="reg_cab">
			<label for="id_username" class="reg_cab_lab">用户&nbsp;&nbsp;&nbsp;</label>
			<input id="username" maxlength="30" name="username" type="text" />
		</div>
		<div class="reg_cab">
			<label for="id_password" class="reg_cab_lab">密码&nbsp;&nbsp;&nbsp;</label>
			<input id="password" name="password" type="password" />
		</div>
		<div class="reg_cab">
			<label for="id_avatar" class="reg_cab_lab">头像&nbsp;&nbsp;&nbsp;</label>
			<input id="avatar" name="avatar" type="file" />
		</div>
		<div class="reg_btn">
			<input type="submit" class="reg_btn1" name="submit" value="确认注册" />
		</div>
	</form>
	{% endif %}
</div>

{% endblock %}