{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<script type="text/javascript" charset="utf-8" src="{% static "ace/ace/build/src/ace.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "js/optace.js" %}"></script>

<div class="regbox2">
	<div class="reg_title"><b>提交问题</b></div>
	<br><br>
	<form id="submit_form" method="post" action="/content/submit/{{pid}}" class="" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="submit_1">
			<select id="id_lang" name="lang" class="submit_1">
				<option value="C">C</option>
				<option value="CPP">C++</option>
				<option value="JAVA">Java</option>
				<option value="PYTH3">Python3</option>
			</select>
			<a style="width:5px"> &nbsp;</a>
		</div>
	    
	     <textarea id="code" name="code" style="display:none;"></textarea>
	     <div id="editor" style="height:300px;weight:800px;"></div>
		<div stype="position:relative;float:right;">
			<input type="submit" name="submit" value="&#9749;&nbsp;提交答案" class="btn_sub">
		</div>
	</form>
</div>

<script type="text/javascript">
	function gettext(){
		var textarea = document.getElementById("code");
		textarea.value = editor.getSession().getValue();
	}
	var editor = ace.edit("editor");
	window.setInterval("gettext()",500);
	var theme="clouds";
	var language="c_cpp";
	editor.setTheme("ace/theme/"+theme);
	editor.session.setMode("ace/mode/"+language);
	editor.setFontSize(15);
	editor.session.setUseSoftTabs(true);
	ace.require("ace/ext/language_tools");
	editor.setOptions({
	   enableBasicAutocompletion:true,
	   enableSnippets:false,
	   enableLiveAutocompletion:true,
	});
</script>

{% endblock %}